.headerBody {
  background-color: var(--za-theme-primary);
  padding: 20px 10px 10px 10px;
  color: #fff;

  .top {
    display: flex;
    
    .statistics {
      margin-right: 14px;
      .key {
        font-size: 14px;
      }

      .value {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .bottom {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    
    .selectBtn {
      padding: 5px 6px 6px 10px;
      border-radius: 4px;
      background-color: var(--za-theme-primary-dark);
      margin-right: 12px;
      display: flex;
      align-items: center;
    }
  }
}